@import "./variables";
@import "./mixin";

.overView {
  .padding_y {
    padding: 80px 0;
    .table_heading {
      color: $black;
      min-height: 51px;
    }
    table {
      td {
        font-weight: 300;
        font-size: 16px;
        color: $black;
      }
    }
    @include md {
      padding: 30px 0;
    }
    .table-lg {
      @include md {
        margin-bottom: 3rem;
      }
    }
  }
}
